In [1]:
from utils import Scraper, Scores

INCLUDE_PLAYOFFS = False
SEASON = 2022

scraper = Scraper()

In [2]:
df_scores = scraper.scrape_scores_by_season(SEASON, playoffs=INCLUDE_PLAYOFFS)

In [3]:
scores = Scores(df_scores, SEASON)
standings = scores.get_standings()
standings.head()

/Users/kevinhuestis/Development/NHL/utils/scores.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.teams = set(self['Home']).union(set(self['Visitor']))

,Team,Games,Wins,Losses,OT Losses,Points,P%,OT Wins,Reg Win
17,Florida Panthers,82,58,16,8,124,1.5122,14,44
10,Colorado Avalanche,82,56,18,8,120,1.4634,14,42
20,Toronto Maple Leafs,82,54,20,8,116,1.4146,14,40
27,Carolina Hurricanes,82,54,20,8,116,1.4146,14,40
11,Minnesota Wild,82,53,21,8,114,1.3902,14,39

In [5]:
scores.get_record("Florida Panthers", "Tampa Bay Lightning")

{'Team': 'Florida Panthers',
 'Games': 4,
 'Wins': 2,
 'Losses': 2,
 'OT Losses': 0,
 'Points': 4,
 'P%': 1.0,
 'OT Wins': 0,
 'Reg Win': 2}